# See https://help.github.com/ignore-files/ for more about ignoring files.

# doc
/doc
!/doc/source/spider.rst

# dist
/dist
/build
simple_spiders.egg-info/
sspider.egg-info/


# use-case
/crawler/use_case

.vscode/settings.json

/crawler1.0
/case1.0
